<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625342742295-qerevuim80bsba9rqqlk37tp3pa7dqhb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625342742295-qerevuim80bsba9rqqlk37tp3pa7dqhb</string>
	<key>API_KEY</key>
	<string>AIzaSyBjLYPktItz_vYZQ3MG5oO00UF0RW2aUDA</string>
	<key>GCM_SENDER_ID</key>
	<string>625342742295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>receason</string>
	<key>PROJECT_ID</key>
	<string>receason</string>
	<key>STORAGE_BUCKET</key>
	<string>receason.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625342742295:ios:f5ff0ec64f3a38cf464152</string>
	<key>DATABASE_URL</key>
	<string>https://receason.firebaseio.com</string>
</dict>
</plist>